<a href="https://colab.research.google.com/github/srj3777/Python/blob/main/pandas_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

import pandas as pd
import numpy as np

# ------------------------------------------------------------
# 1. Load CSV and Saving to CSV
# ------------------------------------------------------------
df = pd.read_csv("/content/drive/MyDrive/LAB/random_marks.csv")
top3=df.head(3)
top3.to_csv('/content/drive/MyDrive/LAB/top3.csv', index=False)


# ------------------------------------------------------------
# 2. Explore Data
# ------------------------------------------------------------
display(df.head())
display(df.tail())
df.info()
df.describe()
df.shape
df.columns
df.dtypes
df["NEWLANG"]=df["JAVA"]+"-"+df["C"]
print(df)

# ________________________________________
# ------------------------------------------------------------
# 3. Clean Special Characters in Marks
# ------------------------------------------------------------
mark_columns = ["Python", "JAVA", "NET", "C", "ANGULAR"]

for col in mark_columns:
    df[col] = df[col].astype(str).str.replace(r'[^0-9]', '', regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')

df.head()
# ________________________________________
# ------------------------------------------------------------
# 4. Handle Missing Values
# ------------------------------------------------------------
df.isna().sum()
df.fillna(0, inplace=True)
df.head()
# ________________________________________
# ------------------------------------------------------------
# 5. Add Total & Average Columns
# ------------------------------------------------------------
df["Total"] = df[mark_columns].sum(axis=1)
df["Average"] = df[mark_columns].mean(axis=1)

df.head()
# ________________________________________
# ------------------------------------------------------------
# 6. Filtering Examples
# ------------------------------------------------------------
df[df["Python"] > 50]
df[df["JAVA"] == 0]
df[(df["NET"] > 40) & (df["ANGULAR"] < 60)]
df.query("C > 70")
# ________________________________________
# ------------------------------------------------------------
# 7. Sorting Examples
# ------------------------------------------------------------
df.sort_values(by="Total", ascending=False).head()
df.sort_values(by=["Python", "JAVA"], ascending=[False, True]).head()
# ________________________________________
# ------------------------------------------------------------
# 8. NumPy Operations
# ------------------------------------------------------------
arr = df[mark_columns].to_numpy()

mean_vals = np.mean(arr, axis=0)
max_vals = np.max(arr, axis=0)
min_vals = np.min(arr, axis=0)
std_vals = np.std(arr, axis=0)

mean_vals, max_vals, min_vals, std_vals
# ________________________________________
# ------------------------------------------------------------
# 9. NumPy Filtering
# ------------------------------------------------------------
high_python = arr[arr[:, 0] > 70]
high_python
# ________________________________________
# ------------------------------------------------------------
# 10. Save Cleaned CSV
# ------------------------------------------------------------
df.to_csv("cleaned_marks.csv", index=False)
print("Cleaned CSV saved as cleaned_marks.csv")

             Name Python  JAVA  NET    C ANGULAR
0      Mike Brown     97    93   19  35%      27
1  Laura Martinez     96    47   79    3      55
2    Laura Garcia    NaN  $55   23@   41      97
3    Jane Johnson    *23    32   70   84      72
4     Katie Brown     9%    80   75  37$      35

              Name Python JAVA  NET     C ANGULAR
15  Katie Martinez     10   86   64    43      72
16     John Garcia     88   99   60  $77      *85
17    Emily Garcia    *83   34  1%1    35      33
18     Katie Jones     44  50*  2*8   14#      55
19      John Brown     11   53   62    59      91

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     20 non-null     object
 1   Python   19 non-null     object
 2   JAVA     20 non-null     object
 3   NET      19 non-null     object
 4   C        20 non-null     object
 5   ANGULAR  19 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB
               Name Python  JAVA  NET     C ANGULAR  NEWLANG
0        Mike Brown     97    93   19   35%      27   93-35%
1    Laura Martinez     96    47   79     3      55     47-3
2      Laura Garcia    NaN  $55   23@    41      97  $55 -41
3      Jane Johnson    *23    32   70    84      72    32-84
4       Katie Brown     9%    80   75   37$      35   80-37$
5     Mike Williams     96    91   88   7@2      76   91-7@2
6      Sophia Davis     34   8@1    0    73      0%   8@1-73
7     Alex Martinez     23    73   60   5$3      73   73-5$3
8       David Davis     48     6    6  $90       60   6-$90
9    Mike Hernandez    1%4   @23   99    87       0   @23-87
10   Chris Williams     98     0  79%    62       3     0-62
11      Katie Davis     91   80%    2    82      64   80%-82
12       Mike Jones     63   37%  NaN    49      47   37%-49
13   Chris Martinez     *1    41   40   *35     NaN   41-*35
14  Chris Hernandez     37    83   93   2$7      60   83-2$7
15   Katie Martinez     10    86   64    43      72    86-43
16      John Garcia     88    99   60  $77      *85  99-$77
17     Emily Garcia    *83    34  1%1    35      33    34-35
18      Katie Jones     44   50*  2*8   14#      55  50*-14#
19       John Brown     11    53   62    59      91    53-59
Cleaned CSV saved as cleaned_marks.csv

In [7]:
import pandas as pd
import numpy as np

# ------------------------------------------------------------
# 1. Load CSV and Saving to CSV
# ------------------------------------------------------------
df = pd.read_csv("/content/drive/MyDrive/LAB/random_marks.csv")
top3=df.head(3)
top3.to_csv('/content/drive/MyDrive/LAB/top3.csv', index=False)